<section data-ng-controller="HomeController" data-ng-init="findArticles()">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/img/brand/logo.png" />
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				Open-Source Full-Stack Solution For MEAN Applications
			</p>
		</div>
		<div class="row">
			<p>
				<a class="btn btn-primary btn-lg" href="http://meanjs.org" target="_blank">Sign up Now!</a>
			</p>
		</div>
	</div>
	<div class="list-group col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
		<a data-ng-repeat="article in newArticles" data-ng-href="#!/boards" class="list-group-item">
            <h4 class="list-group-item-heading" data-ng-bind="article.title"></h4>
            <span data-ng-bind="article.created | date:'mediumDate'"></span>
            &nbsp;Count: {{article.count}}
        </a>
	</div>
</section>